:root {
    --border-color: 220, 220, 220; /* Beispielwerte */
    --pane-bg-color: 240, 240, 240; /* Beispielwerte */
    --tint-color: 173, 214, 245; /* Beispielwerte */
    --box-shadow-1: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Beispielwert */
    --text-color: 0, 0, 0; /* Beispielwert */
}

.context-menu-list {
    border-color: rgb(var(--tint-color));
    background: rgb(var(--pane-bg-color));
    border-left-color: rgb(var(--tint-color));
    box-shadow: var(--box-shadow-1);
    margin: 0;
    padding: 0;
  
    border-width: 0px;
    border-left-style: solid;
    border-left-width: 2px;
    font-size: 15px;
    white-space: nowrap;  
}

.context-menu-list .context-menu-separator {
    border-bottom: 1px solid rgb(var(--border-color));
}

.context-menu-list .context-menu-item {
    color: #666;
    padding: 5px 5px 5px 24px;
    cursor: pointer;
}

.context-menu-list .context-menu-item.hover {
    background-color: rgb(var(--tint-color));
    color: white;
}

.context-menu-list .context-menu-item.disabled {
    color: rgba(var(--text-color), 0.5);
}

.context-menu-list .context-menu-item.disabled.hover {
    background-color: #EEE;
}

.context-menu-list .context-menu-item .context-menu-submenu:after {
    color: #666;
}
